.schedule
    max-width: 1160px
    margin: auto
    color: white
    font-size: 3rem
    padding: 8rem 4rem

.schedule__title
    text-align: center
    font-size: 5rem
    font-weight: normal
    text-transform: uppercase
    margin-bottom: 3rem

.schedule__grid
    display: grid
    margin-top: 8rem
    grid-template-columns: repeat(3, 1fr)
    justify-items: center
    @include respond(tab-port)
        grid-template-columns: 1fr
        grid-row-gap: 6rem
    
.column-plus
    position: absolute
    top: -30px
    left: -20px

.schedule__column
    position: relative
    max-width: 220px

.schedule__column__title
    font-size: 4rem
    font-weight: normal
    margin-bottom: -1rem

.schedule__column__date
    font-size: 2.5rem
    font-weight: light
    margin-left: 1rem

.schedule__column__content
    padding-top: 2rem
    font-size: 2rem
    display: grid
    grid-template-columns: 1fr 1fr
    grid-row-gap: 2rem
    align-items: center
    &.large
        .schedule__item, .schedule__item--right
            font-size: 3rem


.schedule__item, .schedule__item--right
    font-size: 2.5rem

.schedule__item--right
    margin-left: auto