.sponsors
    &__container
        padding: 0rem 15rem 2rem 15rem
        text-align: center
        @include respond(tab-land)
            padding: 2rem
            margin-bottom: 0
        @include respond(phone)
            margin-top: 0
    &__title
        font-size: 4rem
        text-transform: uppercase
        color: white
        margin-top: 2rem
        margin-bottom: 5rem
    &__logos
            &.gigas
                padding: 2rem 15% 0rem 15%
                display: flex
                flex-wrap: wrap
                flex: 0 0 10%
                justify-items: center
                justify-content: center
                @include respond(tab-land)
                    padding-bottom: 0rem
                @include respond(phone)
                    padding: 0rem 5% 0rem 5%
                    margin-top: -5rem

            &.kilos
                margin-top: -2rem
                padding: 0rem 15% 2rem 15%
                padding-bottom: 0rem
                display: flex
                flex-wrap: wrap
                justify-items: center
                justify-content: center
                flex: 0 0 10%
                @include respond(tab-land)
                    padding: 2rem
                    padding-bottom: 0rem
                @include respond(phone)
                        padding: 6rem 14% 1rem 14%
                
                        
            &.centis
                padding: 0rem 2% 6rem 2%
                display: flex
                flex-wrap: wrap
                justify-items: center
                justify-content: center
                @include respond(tab-land)
                    padding-bottom: 7.5rem
                @include respond(phone)
                        max-height: 19rem
                        margin-bottom: -4rem

            &.partners
                padding: 0rem 20% 0rem 20%
                display: flex
                flex-wrap: wrap
                justify-items: center
                justify-content: center
                flex: 0 0 10%
                @include respond(tab-land)
                    padding: 2rem
                    padding-bottom: 0rem
                @include respond(phone)
                        padding: 6rem 14% 1rem 14%
                        margin-top: -6.25rem
    &__giga
        position: sticky
        background-color: $color-bg-alt
        height: 21rem
        margin: 1rem 1rem
        padding: 3rem 2rem 2rem
        border-radius: 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        transition: all .2s
        &:hover
            background-color: lighten($color-bg, 5%)
        @include respond(phone)
            transform: scale(.625)
            margin-bottom: -8.5rem
        
    &__kilo
        background-color: $color-bg-alt
        position: sticky
        max-height: 19rem
        margin: 1rem 1rem
        padding: 3rem 2rem 2rem
        border-radius: 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        transition: all .2s
        &:hover
            background-color: lighten($color-bg, 5%)

    &__centi
        background-color: $color-bg-alt
        position: sticky
        max-height: 8rem
        margin: 1rem 1rem
        padding: 3rem 2rem 2rem
        border-radius: 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center    
        transition: all .2s
        &:hover
            background-color: lighten($color-bg, 5%)

    &__partner
        background-color: $color-bg-alt
        position: sticky
        max-height: 19rem
        margin: 1rem 1rem
        padding: 3rem 2rem 2rem
        border-radius: 20px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        transition: all .2s
        &:hover
            background-color: lighten($color-bg, 5%)