.announcements
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    flex-wrap: nowrap
    overflow-y: scroll
    overflow-x: hidden
    background-color: $color-bg-alt
    padding: 1rem 2rem
    max-height: 1160px
    margin: auto
    margin-top: 5rem
    height: 116rem
    width: 35rem
    transform: rotate(-90deg)
    position: absolute
    border-radius: 6px
    top: -75px
    &::-webkit-scrollbar
        display: none

.announcement
    display: flex
    position: relative
    transform: rotate(90deg)
    padding: 2.5rem
    background: $color-bg
    color: white
    margin: 1.5rem
    flex-direction: column
    justify-content: center
    align-items: center
    min-width: 30rem
    min-height: 30rem
    border-radius: 3rem

.announcement__text
    font-size: 2.5rem
    text-align: center

.announcement__title
    font-size: 4rem
    text-align: center
    margin-bottom: 1rem

.announcement__time, .announcement__day
    position: absolute
    top: 2.5rem
    right: 2.5rem
    color: white
    font-size: 2.5rem

.announcement__day   
    left: 2.5rem