.links-container
    display: grid
    grid-template-columns: repeat(6, 1fr)
    margin-top: 2rem
    border-radius: 100px
    width: 100%
    text-align: center
    overflow: hidden
    margin-bottom: 55rem
    
.link__item
    flex: 1
    display: block
    padding: 3rem 2rem
    color: white
    font-size: 3rem
    background-color: $color-bg-alt
    transition: background-color .2s
    &:hover
        background-color: lighten($color-bg-alt, 15%)