.live-hero
    max-width: 1160px
    margin: 3rem auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top:  8rem
    position: relative
    @include respond(tab-port)
        margin-top: 3rem

.live-hero__left, .live-hero__right,
    position: fixed
    top: 50px
    height: 1200px
    z-index: -2

.live-hero__right
    right: 0px
    transform: scale(-1)

.live-hero__left
    left: 0px

.live-hero__logo
    height: 15rem
    @include respond(tab-port)
        height: 10rem

.live-hero__title
    color: white
    font-size: 8rem
    margin: 1rem 0
    @include respond(tab-port)
        font-size: 6rem

.live-hero__social
    display: flex
    justify-content: center
    align-items: center
    img
        height: 6rem
        margin: 1rem
        transition: transform .2s
        @include respond(tab-port)
            height: 4rem
        &:hover
            transform: scale(1.2)

@import "announcements"
@import "links"
@import "schedule"