@mixin respond($breakpoint)
  @if $breakpoint == phone-narrow
      @media (max-width: 25em)
        @content

  @if $breakpoint == phone
    @media (max-width: 37.5em)
      @content

  @if $breakpoint == tab-port
    @media (max-width: 56.25em)
      @content

  @if $breakpoint == tab-land
    @media (max-width: 75em)
      @content

  @if $breakpoint == mission
    @media (max-width: 99em)
      @content

  @if $breakpoint == big-desktop
    @media (min-width: 112.5em)
      @content
*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: inherit

@font-face
  font-family: 'AC'
  font-weight: 400
  src: url('../../assets/fonts/ACBK.woff2') format('woff2')

@font-face
  font-family: 'AC'
  font-weight: 500
  src: url('../../assets/fonts/ACM.woff2') format('woff2')

@font-face
  font-family: 'AC'
  font-weight: 700
  src: url('../../assets/fonts/ACBL.woff2') format('woff2')

html
    font-family: 'AC', sans-serif
    background-color: #1C1921
    font-size: 45% // 1rem = 10px
    overflow-x: hidden
    @include respond(tab-land)
      font-size: 40%
    @include respond(tab-port)
      font-size: 37.5%

$color-bg: #1C1921
$color-bg-alt: #312D38
$color-text-orange: #EBA471
$color-text-alt: rgba(252, 249, 255, 0.7)
$color-bg-footer: #2E2A38
$color-text-footer: #8D84A1

$color-success: #DFF2BF
$color-error: #FFBABA

$font-stack-alt: 'Space Mono', monospace
$font-stack: 'Varela Round', sans-serif

body, html
  overflow-x: hidden
  scroll-behavior: smooth

a
  text-decoration: none
  color: inherit  

.hidden
  visibility: hidden

.text-center
  text-align: center !important

.success, .error
  display: flex
  flex-direction: column
  align-items: center
  min-height: 75vh
  &__text
    color: white
    font-size: 5rem
    max-width: 960px
  &__img
    margin: 5rem auto
    height: 35rem

.error__text
  color: #EF5C65

.success__text
  color: #EEAD7C

.error__img
  height: 35rem

.loader
    width: 250px
    height: 250px
    border: 5px solid $color-bg-alt
    border-top: 5px solid lighten($color-bg-alt, 20%)
    border-radius: 50%
    margin: auto
    animation: rotating 2s linear infinite

@keyframes rotating
    from
        -ms-transform: rotate(0deg)
        -moz-transform: rotate(0deg)
        -webkit-transform: rotate(0deg)
        -o-transform: rotate(0deg)
        transform: rotate(0deg)
    to
        -ms-transform: rotate(360deg)
        -moz-transform: rotate(360deg)
        -webkit-transform: rotate(360deg)
        -o-transform: rotate(360deg)
        transform: rotate(360deg)


.bar
  width: 1000px
  height: 4px
  background-image: linear-gradient(to right, #7E52EF 0%,  #6371FE 26%, #FF5B5B 71%, #E9D66A 100%)
  top: 400px
  z-index: 3
  position: absolute
  left: 50%
  transform: translateX(-50%)

.appear
  opacity: 1 !important
  transform: translateY(0) !important
  img
    opacity: 1 !important
    transform: translateY(0) !important
  &.bigstat__stat
    color: #FCF9FF !important
    transform: scale(1) !important

.twocol
  display: grid
  grid-template-columns: .5fr .5fr
  align-items: center
  margin-bottom: 10em
  grid-gap: 20px
  div
    margin: 0
  @include respond(tab-port)
      margin-bottom: 4em
      grid-template-columns: 1fr
      grid-template-rows: .5fr .5fr
      justify-items: center

.tooltip
  position: absolute;
  background: rgba(0,0,0,.3);
  color: white;
  padding: 11px;
  font-size: 2.1em;
  width: 95px;
  border-radius: 8px;
  top: 95px;
  opacity: 1
  transform: translateY(0)
  transition: opacity .2s ease, transform .2s ease
  &.invisible
    transform: translateY(-3px)
    opacity: 0

@import "components/landing/hero"
@import "components/landing/mission"
@import "components/landing/cta"
@import "components/landing/highlights"
@import "components/landing/sponsors"
@import "components/landing/faq"
@import "components/landing/team"
@import "components/landing/footer"
@import "components/landing/schedule"
@import "components/application/app"
@import "components/application/appselect"
@import "components/application/forms"
@import "components/live/live"
@import "components/login/login"
@import "components/postevent/colstats"
@import "components/postevent/collage"
@import "components/postevent/displaytext"
@import "components/postevent/bigstat"
@import "components/postevent/mediabuttons"
@import "components/postevent/colbuttons"
@import "components/postevent/winnerhighlight"
@import "components/postevent/projecthighlight"
@import "components/postevent/sharebutton"
@import "components/postevent/landing"
