.actionbutton
    @mixin button
        font-weight: 400
        font-size: 2.4rem
        padding: 2rem 2.5rem
        background-color: #56505f
        border-radius: 5rem
        margin: 2.25rem
        color: white
        opacity: 0
        text-align: center
        text-transform: uppercase
        font-weight: bold
        transform: translateY(15px)
        transition: opacity 0.4s ease .27s, transform 0.2s ease, 0.8s filter ease
        &:hover
            transform: translateY(-2px) !important
        @include respond(tab-port)
            margin: 1.5rem .5rem
            padding: 1rem
            font-size: 2rem
    &__orgapp
        @include button
        background: linear-gradient(248deg, #c97e0e, #efdf2f)
        &:hover
            filter: hue-rotate(-35deg)
        &__done
            display: none
    &__sponsorship
        @include button
        background: linear-gradient(248deg, #711F73, #5675e8)
        &:hover
            filter: hue-rotate(45deg)
    &__container
        display: flex
        justify-content: center
        margin-bottom: 2rem
        @include respond(tab-port)
   