.subscriberinput 
    @mixin label
        position: absolute
        color: grey
        font-weight: 500
        visibility: visible
        opacity: 1
        transition: visibility 0s ease-in 0s, opacity .2s
        cursor: text
        top: 0
        left: 4px
    @mixin span
        ~ span
            width: 100%
            transition: 0.4s ease-out
            left: 0
    @mixin input
        box-sizing: border-box
        padding-bottom: .15vh
        align-items: center
        text-align: center
        background: transparent
        border: 0
        color: white
        width: 13em
        outline: 0
    @mixin submitbutton
        font-size: 2.2rem
        position: static
        border-radius: 5rem
        text-transform: uppercase
        background: linear-gradient(-22deg, #711F73, #3d027c)
        border: 0
        display: block
        margin: auto
        margin-top: -.25em
        color: white
        transform: translateY(-1px)
        transition: opacity 0.4s ease .27s, transform 0.2s ease, 0.8s filter ease
        outline: none
        @include respond(tab-port)
            padding: 1rem
            margin-top: -.4em
        &:hover
            transform: translateY(1px) !important
            filter: hue-rotate(45deg)
        &:active
            transform: translateY(-.15vh) !important
            filter: hue-rotate(-60deg)
    align-items: center
    font-size: 2.2rem
    @include respond(tab-port)
        font-size: 2em
    &__form
        padding-bottom: 1.5rem
        @include respond(tab-port)
            margin-top: -.5em
    &__container
        position: relative
        display: inline-block
        top: -3px
        &_inputbox
            @include input
            &:focus
                ~ label
                    visibility: hidden
                    opacity: 0
                    transition: visibility 0s ease-in .2s, opacity .2s
                @include span
            &:hover
                @include span
            &:invalid
                box-shadow: none
        &_inputboxfilled
            @include input
            @include span
        &_underline
            display: block
            position: absolute
            bottom: -2px
            left: 50%
            width: 0
            height: 2px
            background-color: #711F73
            transition: 0.4s ease-in
            @include respond(tab-port)
                bottom: -0.95px
        &_label
            @include label
        &_labelhidden
            @include label
            visibility: hidden
            opacity: 0
        &_submitbutton 
            @include submitbutton
            padding: 1.25rem 2.75rem